// RWD - Mobile First
@media screen and (min-width: 0) {
    .siglum-grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0rem;

        .siglum-grid-item {
            padding: 0 0 10px;
            font-size: 1.5rem;
            text-align: left;
            .admin__additional-info {
                padding-top: 0;
            }
        }

        &::before {
            content: unset;
        }

        #buttons {
            .label-torah-div {
                padding-top: 13px;
                padding-bottom: 5px;
                .label-torah {
                    padding-top: 8px;
                    display: block;
                }
            }
            .label-torah, .label-torah a, .label-torah a:hover, .label-torah a:focus, .label-torah a:visited {
                font-size: 32px;
                font-weight: bold;
                color: red;
            }
            .label-torah a:hover, .label-torah a:focus, .label-torah a:visited {
                text-decoration: none;
            }
            .buttons-grid-container {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                gap: 0rem;
                .buttons-grid-item {
                    padding-top: 8px;
                    font-size: 1.5rem;
                    text-align: left;
                }
                &::before {
                    content: unset;
                }
            }
            /** @see https://www.turing.com/kb/responsive-layouts-using-css-grid **/
            .multibuttons-grid-container {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
                .multibuttons-grid-item {
                    /** border: 1px solid #ddd; **/
                    padding: 0;
                    font-size: 1.5rem;
                    text-align: center;
                    button {
                        width: 100%;
                    }
                }
                &::before {
                    content: unset;
                }
            }

            & + .siglum-grid-item {
                padding: 0;
                #indicator {
                    padding-top: 8px;padding-top: 8px;
                    display: block;
                }
            }
            padding-bottom: 0;
        }

        #preview-result {
            min-height: 120px;
        }
    }
}

@media screen and (min-width: 406px) {
    .siglum-grid-container {
        #buttons {
            .multibuttons-grid-container {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (min-width: 961px) {
    .siglum-grid-container {
        #buttons {
            .multibuttons-grid-container {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}

@media screen and (min-width: 1097px) {
    .siglum-grid-container {
        #buttons {
            .multibuttons-grid-container {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                .multibuttons-grid-item {
                    button {
                        min-width: 90%;
                        width: unset;
                    }
                }
            }
        }
    }
}
