<div class="buttons-grid-container">
    <% if (disabled !== 'true') { %>
        <div class="buttons-grid-item">
            <button type="button" class="btn-back btn btn-warning" data-id="back">⇦</button>
        </div>
    <% } %>

    <div class="buttons-grid-item label-torah-div">
        <% if (isFinished === 'true') { %>
            <span class="label-torah">
                <a href="<%= baseUrl %><%= label %>" target="_blank"><%= label %></a>
            </span>
        <% } else { %>
            <span class="label-torah"><%= label %></span>
        <% } %>
    </div>

    <div class="buttons-grid-item multibuttons-grid-container">
        <% _.each(buttons, function(value, key) { %>
            <div class="multibuttons-grid-item">
                <button type="button" class="btn-torah btn btn-warning" data-id="<%= key %>"><%= value %></button>
            </div>
        <% }); %>
    </div>
</div>
