<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="JaroslawZielinski_TorahVerse::menu" title="TorahVerse Menu">
                    <resource id="JaroslawZielinski_TorahVerse::grids" title="TorahVerse Grids">
                        <resource id="JaroslawZielinski_TorahVerse::groups" title="TorahVerse Groups"/>
                        <resource id="JaroslawZielinski_TorahVerse::verses" title="TorahVerse Verses"/>
                        <resource id="JaroslawZielinski_TorahVerse::quotes" title="TorahVerse Quotes"/>
                    </resource>

                    <resource id="JaroslawZielinski_TorahVerse::settings" title="TorahVerse Settings"
                        translate="title">
                        <resource id="JaroslawZielinski_TorahVerse::configuration"
                            title="TorahVerse Configuration" translate="title" />
                    </resource>

                    <resource id="JaroslawZielinski_TorahVerse::tools" title="TorahVerse Tools"
                        translate="title">
                        <resource id="JaroslawZielinski_TorahVerse::versesearch" title="TorahVerse Search Verse" />
                        <resource id="JaroslawZielinski_TorahVerse::verseconfig" title="TorahVerse Verse Config" />
                    </resource>
                </resource>

                <resource id="Magento_Backend::system">
                    <resource id="JaroslawZielinski_TorahVerse::elements" title="JaroslawZielinski TorahVerse" sortOrder="60">
                        <resource id="JaroslawZielinski_TorahVerse::addedit" title="Add/Edit" sortOrder="10" />
                    </resource>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="JaroslawZielinski_Torah::configuration"
                                title="Torah Configuration" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
