<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <itzielart_torahverse>
            <general>
                <enable>1</enable>
                <sweep_time>12000</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <vertical_sweep_time>200</vertical_sweep_time>
                <is_group_colours_enable>0</is_group_colours_enable>
                <verse_template><![CDATA[
<a href="{url}" target="_blank" style="color: {textColour}">
    <div class="item" title="{groupName}">
        <div class="content" title="{groupName}">{content}</div>
        <div class="description" title="{groupName}">{description}</div>
    </div>
</a>
]]></verse_template>
                <group_colours_verse_template><![CDATA[
<a href={url} target="_blank" style="color: {textColour}">
    <div class="item" style="border: 1px solid {colour};" title="{groupName}">
        <div class="group" style="background: {colour}; color: {antiColour};" title="{groupName}">{groupName}</div>
        <div class="content" title="{groupName}">{content}</div>
        <div class="description" title="{groupName}">{description}</div>
    </div>
</a>
]]></group_colours_verse_template>
                <verses_ordered>0</verses_ordered>
                <text_colour>#000000</text_colour>
                <mode>autoplayinf</mode>
            </general>

            <frontend_slider>
                <enable>0</enable>
                <override>0</override>
                <sweep_time>12000</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <vertical_sweep_time>200</vertical_sweep_time>
                <is_group_colours_enable>0</is_group_colours_enable>
                <verses_ordered>0</verses_ordered>
                <text_colour>#000000</text_colour>
                <mode>autoplayinf</mode>
                <placement>top.container,footer-container</placement>
                <slider><![CDATA[default,CGAV_001,CGAV_002,CGAV_003,CGAV_006,CGAV_009,CGAV_028,CGAV_029]]></slider>
            </frontend_slider>

            <custom_sliders>
                <enable>0</enable>
                <override>0</override>
                <sweep_time>12000</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <vertical_sweep_time>200</vertical_sweep_time>
                <is_group_colours_enable>0</is_group_colours_enable>
                <verses_ordered>0</verses_ordered>
                <text_colour>#000000</text_colour>
                <mode>autoplayinf</mode>
                <sliders><![CDATA[{"_1678942274965_965":{"code":"test234","slider":["default","CGAV_001","CGAV_017"]}}]]></sliders>
            </custom_sliders>

            <backend_slider>
                <enable>1</enable>
                <override>0</override>
                <sweep_time>12000</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <vertical_sweep_time>200</vertical_sweep_time>
                <is_group_colours_enable>0</is_group_colours_enable>
                <verses_ordered>0</verses_ordered>
                <text_colour>#000000</text_colour>
                <mode>autoplayinf</mode>
                <slider><![CDATA[CGAV_001,CGAV_006]]></slider>
            </backend_slider>
        </itzielart_torahverse>
    </default>
</config>
