<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <itzielart_torahverse>
            <general>
                <enable>1</enable>
                <sweep_time>500</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <vertical_sweep_time>200</vertical_sweep_time>
                <is_group_colours_enable>1</is_group_colours_enable>
                <template><![CDATA[
<div class="item">
    <div class="content">{content}</div>
    <div class="description">{description}</div>
</div>
]]></template>
                <group_colours_template><![CDATA[
<div class="item" style="border: 1px solid {colour};">
    <div class="group" style="background: {colour}; color: {antiColour};" title="{groupName}">{groupName}</div>
    <div class="content">{content}</div>
    <div class="description">{description}</div>
</div>
]]></group_colours_template>
            </general>

            <frontend_slider>
                <enable>0</enable>
                <override>0</override>
                <sweep_time>500</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <vertical_sweep_time>200</vertical_sweep_time>
                <placement>top.container,footer-container</placement>
                <slider><![CDATA[default,CGAV_001,CGAV_002,CGAV_003,CGAV_006,CGAV_009,CGAV_028,CGAV_029]]></slider>
            </frontend_slider>

            <custom_sliders>
                <enable>0</enable>
                <override>0</override>
                <sweep_time>500</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <vertical_sweep_time>200</vertical_sweep_time>
            </custom_sliders>

            <backend_slider>
                <enable>1</enable>
                <override>0</override>
                <sweep_time>500</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <vertical_sweep_time>200</vertical_sweep_time>
                <slider><![CDATA[CGAV_001,CGAV_006]]></slider>
            </backend_slider>
        </itzielart_torahverse>
    </default>
</config>
