<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <itzielart_torahverse>
            <general>
                <enable>1</enable>
                <sweep_time>500</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <is_group_colours_enable>1</is_group_colours_enable>
            </general>

            <frontend_slider>
                <enable>1</enable>
                <override>0</override>
                <sweep_time>500</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <is_group_colours_enable>1</is_group_colours_enable>
                <slider><![CDATA[default,CGAV_001,CGAV_002,CGAV_003,CGAV_006,CGAV_009,CGAV_028,CGAV_029]]></slider>
            </frontend_slider>

            <custom_sliders>
                <enable>1</enable>
                <override>0</override>
                <sweep_time>500</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <is_group_colours_enable>1</is_group_colours_enable>
            </custom_sliders>

            <backend_slider>
                <enable>1</enable>
                <override>0</override>
                <sweep_time>500</sweep_time>
                <is_vertical_sweep_possible>1</is_vertical_sweep_possible>
                <is_group_colours_enable>1</is_group_colours_enable>
                <slider><![CDATA[CGAV_001,CGAV_006]]></slider>
            </backend_slider>
        </itzielart_torahverse>
    </default>
</config>
