<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Logger DI -->
    <virtualType name="ITZielArt\TorahVerse\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/itzielart_torahverse.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="ITZielArt\TorahVerse\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">ITZielArt\TorahVerse\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="ITZielArt\TorahVerse\Controller\Siglum\Preview">
        <arguments>
            <argument name="logger" xsi:type="object">ITZielArt\TorahVerse\Logger</argument>
        </arguments>
    </type>

    <type name="ITZielArt\TorahVerse\Controller\Adminhtml\Verses\Save">
        <arguments>
            <argument name="logger" xsi:type="object">ITZielArt\TorahVerse\Logger</argument>
        </arguments>
    </type>

    <type name="ITZielArt\TorahVerse\Controller\Adminhtml\Verses\GroupAssign">
        <arguments>
            <argument name="logger" xsi:type="object">ITZielArt\TorahVerse\Logger</argument>
        </arguments>
    </type>

    <!-- CRUD preferences -->
    <preference for="ITZielArt\TorahVerse\Api\Data\GroupInterface" type="ITZielArt\TorahVerse\Model\Data\Group"/>

    <preference for="ITZielArt\TorahVerse\Api\Data\VerseInterface" type="ITZielArt\TorahVerse\Model\Data\Verse"/>

    <preference for="ITZielArt\TorahVerse\Api\GroupRepositoryInterface"
        type="ITZielArt\TorahVerse\Model\GroupRepository"/>

    <preference for="ITZielArt\TorahVerse\Api\VerseRepositoryInterface"
        type="ITZielArt\TorahVerse\Model\VerseRepository"/>

    <!-- Search preferences -->
    <preference for="ITZielArt\TorahVerse\Api\Data\GroupSearchResultsInterface"
        type="Magento\Framework\Api\SearchResults"/>

    <preference for="ITZielArt\TorahVerse\Api\Data\VerseSearchResultsInterface"
        type="Magento\Framework\Api\SearchResults"/>

    <!-- Verses Grid -->
    <virtualType name="ITZielArt\TorahVerse\Model\ResourceModel\Verse\Grid\Collection"
        type="ITZielArt\TorahVerse\Ui\DataProvider\Verse\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">torahverse_verses</argument>
            <argument name="resourceModel" xsi:type="string">ITZielArt\TorahVerse\Model\ResourceModel\Verse</argument>
        </arguments>
    </virtualType>

    <!-- Groups Grid -->
    <virtualType name="ITZielArt\TorahVerse\Model\ResourceModel\Group\Grid\Collection"
        type="ITZielArt\TorahVerse\Ui\DataProvider\Group\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">torahverse_groups</argument>
            <argument name="resourceModel" xsi:type="string">ITZielArt\TorahVerse\Model\ResourceModel\Group</argument>
        </arguments>
    </virtualType>

    <!-- All grids DataProviders -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="itzielart_torahverse_verses_listing_data_source" xsi:type="string">
                    ITZielArt\TorahVerse\Model\ResourceModel\Verse\Grid\Collection
                </item>
                <item name="itzielart_torahverse_groups_listing_data_source" xsi:type="string">
                    ITZielArt\TorahVerse\Model\ResourceModel\Group\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="ITZielArt\TorahVerse\Ui\Component\MassAction\Verse\GroupAssign">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">itzielart_torahverse/verses/groupAssign</item>
                <item name="paramName" xsi:type="string">group</item>
                <item name="confirm" xsi:type="array">
                    <item name="message" xsi:type="string" translatable="true">Are you sure?</item>
                    <item name="title" xsi:type="string" translatable="true">Assign to '%s' group</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
