<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="jaroslawzielinski_torahverse" frontName="torahverse">
            <module name="JaroslawZielinski_TorahVerse" />
        </route>
    </router>
</config>
