<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="torahVerse" sortOrder="20" translate="label" class="torahVerse-main">
            <label>TorahVerse</label>
        </tab>
        <section id="itzielart_torahverse" translate="label" sortOrder="10" showInDefault="1" showInStore="1"
            showInWebsite="1">
            <class>separator-top</class>
            <label>Torah Verse</label>
            <tab>torahVerse</tab>
            <resource>ITZielArt_TorahVerse::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1"
                showInStore="1" showInWebsite="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                    showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <attribute type="expanded">0</attribute>
            </group>
        </section>
    </system>
</config>
