.verse-slider {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    a {
        &:link, &:visited, &:hover, &:active {
            text-decoration: none;
        }
    }
    .item {
        position: relative;
        padding: 18px 2px 2px;
    }
    .group {
        position: absolute;
        top: 0;
        padding: 2px 5px !important;
        font: 11px Arial;
        left: 0;
        white-space: nowrap;
        z-index: auto;
    }
    .slider, .item {
        height: 125px;
    }
    .content {
        max-height: 71px;
        text-overflow: clip;
        white-space: break-spaces;
        overflow: hidden;
        padding-bottom: 10px;
        font: italic 14px Arial;
        line-height: 22px;
        .transformed {
            height: 71px;
        }
    }
    .author, .description {
        font-size: 12px;
    }
    /** @see https://css-tricks.com/ease-out-in-ease-in-out/ **/

    .transformed {
        transform: translateZ(0);
    }

    .list {
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 250px;
        padding: 0;
        margin-top: 0;
        div {
            display: block;
            height: 22px;
            padding: 0;
            margin-bottom: 0;
        }
    }

    .item:last-child {
        margin-bottom: 0;
    }

    &.paused-slider {
        a {
            cursor:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AYht+mlUqpOLSDiEOG6mRBVMRRq1CECqFWaNXB5NI/aGJIUlwcBdeCgz+LVQcXZ10dXAVB8AfE1cVJ0UVK/C4ptIjxjuMe3vvel7vvAKFZY5oVGgM03Taz6ZSYL6yI4VeEEKYZQ0RmljErSRn4jq97BPh+l+RZ/nV/jj61aDEgIBLPMMO0ideJpzZtg/M+cZxVZJX4nHjUpAsSP3Jd8fiNc9llgWfGzVx2jjhOLJa7WOliVjE14knihKrplC/kPVY5b3HWanXWvid/YbSoLy9xndYQ0ljAIiSIUFBHFTXYSNKuk2IhS+cpH/+g65fIpZCrCkaOeWxAg+z6wf/gd2+t0sS4lxRNAT0vjvMxDIR3gVbDcb6PHad1AgSfgSu9499oAtOfpDc6WuII6N8GLq47mrIHXO4AA0+GbMquFKQllErA+xl9UwGI3QKRVa9v7XOcPgA56lXmBjg4BEbKlL3m8+7e7r79W9Pu3w/nJHJv3ObtpgAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB+cEBwcYB7byBJwAAABySURBVCjP5dJNCsJADIbhR0dosUeptxR6A/E0PdKsp11I3UQIrsa1gQ+Sl0B+6bQTCoaId7zC/+YW1NA9Ekr4H75AwxGquIZq4u2CMbUyRDtSWRjPvcP8b+KW4i0teU+8FUyY40JPrHHvCbfgj5+eosveam8fAvew2h8AAAAASUVORK5CYII="),auto;
        }
    }
}
