<div class="siglum-grid-container">
    <div class="siglum-grid-item">
        <select class="admin__control-select" data-bind="
            attr: {
                name: 'translation',
                id: 'translation_' + uid,
                disabled: disabled,
                'aria-describedby': noticeId,
                'aria-label': noticeId
            },
            event: {
                change: $data.translationBinding
            },
            hasFocus: focused,
            optgroup: $data.options,
            value: $data.parts.translation,
            optionsValue: 'value',
            optionsText: 'label'
        ">
        </select>
    </div>

    <div id="buttons" class="siglum-grid-item" data-bind="
        html: $data.renderButtons(), afterRender: $data.handleButtons() ">
    </div>

    <div class="siglum-grid-item">
        <span class="siglum-indicator" data-bind="
            html: value,
            attr: {
                id: 'span_' + uid,
                disabled: 'disabled'
            }"></span>

        <input class="admin__control-text" type="hidden" data-bind="
            event: {change: userChanges},
            value: value,
            hasFocus: focused,
            valueUpdate: valueUpdate,
            attr: {
                name: inputName,
                placeholder: placeholder,
                'aria-describedby': noticeId,
                id: uid,
                disabled: disabled,
                maxlength: 255
        }"/>
    </div>

    <div class="siglum-grid-item">
        <!-- ko if: $data.additionalInfo -->
            <!-- ko with: {additionalInfoUnsanitizedHtml: $data.additionalInfo} -->
                <div class="admin__additional-info" html="additionalInfoUnsanitizedHtml"></div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
